.PulseContainer {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Circle {
  border-radius: 50%;
  background-color: white;
  width: 100%;
  padding-top: 100%;
  position: absolute;
  opacity: 0;
  animation: scaleIn 5s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);

  @keyframes scaleIn {
    from {
      transform: scale(0.4, 0.4);
      opacity: 0.5;
    }
    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }
}
