:root {
  --black-card-color: #504f56;
  --red-card-color: #f45151;
  --green-color: #31d843;
  --main-white: #ffffff;
  --main-color: #79a6b5;
  --main-highlight-color: #021626;
  --main-highlight-color-with-opacity: rgba(2, 22, 38, 0.5);
  --card-face-down-background: #393e41;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--main-white);
}

p {
  margin: 0;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

html,
body,
#reactapp,
#root,
.App {
  height: 100%;
}
.App {
  display: flex;
}
