.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.AppLogo {
  position: absolute;
  font-weight: 600;
  top: 40px;
  left: 40px;
}

/* Header stuff */

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.HeaderStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeaderStatusText {
  font-weight: 200;
}

.TimerContainer {
  margin-left: 15px;
}

.TimerText {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 2px; /* Alignment looked weird, this is an unexpected adjustment */
  margin-right: 8px;
}

/* Game table stuff */

.GameTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid var(--main-white);
  border-radius: 200px;
}

.BettingRoundText {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.BoardCardsContainer {
  display: flex;
  flex-direction: row;
}

.PotTotalText {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

/* User content stuff*/

.UserContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  background-color: var(--main-highlight-color-with-opacity);
}

.UserContentStatusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.UserCardsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.UserContentOptionsContainer {
  min-width: 220px;
}

.UserContentOptionsContent {
  padding: 20px 0px 10px;
  display: flex;
}

.BetContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.PlayOption {
  background-color: var(--main-color);
  padding: 8px 0px;
  font-size: 12px;
  font-weight: 500;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 80px;
  margin: 0px 10px;
}

.PlayOption:hover {
  cursor: pointer;
  background-color: var(--main-white);
  color: var(--main-color);
}

.BetButton {
  flex: 2;
  margin-right: 12px;
}

.BetSlider {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.Slider {
  margin-right: 10px;
}

.SeatsHotizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Row {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  margin: 20px auto;
  max-width: 1024px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.SeatsVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -60px;
  width: 165px;
}

.GameTableContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  padding-top: 50px;
}
