.ChipsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1px solid var(--main-white);
  background-color: var(--main-highlight-color-with-opacity);
  padding: 5px;
  border-radius: 10px;
  height: 8px;
}

.Chips {
  height: 10px;
  width: 10px;
  border: 1px solid var(--main-white);
  margin-bottom: 3px;
  border-radius: 20px;
  background-color: var(--main-highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 0px rgba(95, 94, 94, 0.5);
}

.ChipsBundledContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.ChipsAmountText {
  font-size: 10px;
}

.ChipsText {
  font-size: 10px;
}
