.PlayerModule {
  width: 130px;
  height: 10px;
  overflow: hidden;
  background-color: var(--main-highlight-color);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px 15px 10px;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 4px 2px rgba(95, 94, 94, 0.5);
  border: 2px solid var(--main-highlight-color);
}

.PlayerModuleActive {
  border: 2px solid var(--green-color);
}

.PlayerModuleWinner {
  background-color: #edb458;
}

.PlayerModuleTotalContainer {
  background-color: var(--main-white);
  border-radius: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.PlayerModuleTotalText {
  font-size: 15px;
  font-weight: 600;
  color: var(--main-highlight-color);
}

.PlayerModuleDetailsContainer {
  margin-left: 10px;
  overflow: hidden;
}

.PlayerModulePlayerText {
  font-size: 15px;
  font-weight: 500;
}

.OneLine {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.StatusBar {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--red-card-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 2px 2px 4px 0 rgba(95, 94, 94, 0.5);

  /* animation stuff */
  max-height: 50px;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.StatusBar.closed {
  max-height: 0;
}

.StatusBarPlaceHolder {
  position: relative;
  top: -25px;
  margin-bottom: -25px;
  width: 100%;
  height: 50px;
}

.StatusText {
  color: white;
  margin-bottom: 3px;
}

.CardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: -8px;
  z-index: 1;
}
