.PlayerModule {
  width: 130px;
  overflow: hidden;
  background-color: var(--main-highlight-color);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 10px 15px; /* Need a little extra on the right cuz of rounded borders */
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 4px 4px rgba(95, 94, 94, 0.5);
}

.PlayerModuleActive {
  border: 2px solid var(--green-color);
}

.PlayerModuleTotalContainer {
  background-color: var(--main-white);
  border-radius: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.PlayerModuleTotalText {
  font-size: 15px;
  font-weight: 600;
  color: var(--main-highlight-color);
}

.PlayerModuleDetailsContainer {
  margin-left: 10px;
  overflow: hidden;
}

.PlayerModulePlayerText {
  font-size: 15px;
  font-weight: 500;
}

.OneLine {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.StatusBar {
  position: relative;
  top: -25px;
  width: 100%;
  height: 50px;
  background-color: var(--red-card-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 2px 2px 4px 0 rgba(95, 94, 94, 0.5);
}

.StatusText {
  color: white;
  margin-bottom: 3px;
}

.CardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: -8px;
}
