.GameTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid var(--main-white);
  border-radius: 200px;
  background-color: var(--table-color);
  z-index: 1;
}

.BettingRoundText {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.BoardCardsContainer {
  display: flex;
  flex-direction: row;
}

.PotTotalText {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.GameTableRow {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  flex: 1;
}

.GameTableLeft {
  width: 100px;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.GameTableRight {
  width: 100px;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.GameTableCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.GameTableTop {
  height: 20px;
  padding-top: 10px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.GameTableBottom {
  padding-bottom: 10px;
  height: 20px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}
